h1{
    text-align: center;
    color: rgb(30, 156, 30);
}

body{
    max-width: 900px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    color: rgb(197, 111, 54);
}

h2{
    color: #6ea319;
    border-bottom: #a7b88c 1px solid;    
}

section{
    border: #d3d3d3 1px solid;    
    margin: 20px 20px 10px 180px;  
}

h3{
    color: rgb(197, 111, 54);
}

nav{
    float: left;   
}

ul{
    display: block;
}

li{
    border: #d3d3d3 1px solid;
    background-color: rgb(180, 235, 158);
    margin-bottom: 7px;    
    text-align: center;
    line-height: 50px;
    width: 110px; 
    list-style: none;        
}

a{
    text-decoration: none;
    
}

li:hover{
    background:rgb(241, 201, 112);
}