body{
    background-color: rgb(255, 246, 225);
}

h1{
    color: rgb(155, 88, 6);
    font-size: 20pt;    
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: rgb(172, 103, 0);
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;    
}